* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#4891ff;
    --light-color:#dcdcdf;
    --dark-color:#111;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: hsl(0, 0%, 100%);
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* navbar */
.navbar {
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid rgba(6, 6, 6, 0.3);
    
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    

}
.navbar .main-menu ul {
    display: flex;


}
.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
    
}
.navbar ul li a:hover{
    color: var(--primary-color);
}
.navbar ul li a i {
    margin-right: 10px;
}
.navbar ul li:last-child a {
    margin-left: 10px;
}

/* hero */
.hero{
    margin-bottom: 50px;
}
.hero .hero-content{
    width: 70%;
}
.hero .hero-text{
    width: 70%;
    margin-bottom: 10px;
}
/* video */
.video{
    padding: 10px 0 40px;
}
.video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-preview{
    margin-bottom: 20px;
}
/* pricing */
.pricing-grid{
    display: grid;
    grid-template-columns:1rf 1fr ;
  margin-top: 50px;
   
}
.pricing .pricing-card-subheading{
    margin-bottom: 30px;

}
.pricing .pricing-card-price{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
}
.pricing ul {
    margin: 30px 0;
}
.pricing ul li {
    margin-bottom: 20px;
}
.pricing ul li i {
    margin-right: 10px;
}
.pricing-footer{
    margin: 30px 0;
}
/* utility class */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
.card{
    background: #fff;
    color: #000;
    border-radius: 10px;  
    padding: 20px;
}

/* buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.btn:hover {
    opacity: 0.8;
}
.btn-primary{
    background: var(--primary-color);
    color: #fff;
}
.btn-dark {
    background: var(--dark-color);
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
}
/* text classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;

}
.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}
.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}
.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 5px;
}
.text-center{
    text-align: center;
}
.guitars{
    padding: 20px;

    display: flex;

    align-items: center ;
}
.lakewood{
    height: 350px;
    width: 300px;
}
.Ibanez{
    height: 350px;
    width: 250px;
}
.players{


    display: flex;

    align-items:first baseline ;
}
.sungha{
    height: 500px;
    width: 550px;
}
.marcin{
    height: 500px;
    width: 550px;
}
h1{
    padding: 10px ;
}
p{
    padding:10px;
}
.box{
    padding:10px;
    display: flex;
    cursor: pointer;    
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 10px 250px rgba(0, 0, 0, .3);
}
.box:hover input{
    width: 200px;
}
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.7s;
    background: transparent;
}
.box a .fas{
    color: #333;
    font-size: 18px;
}
.column{
    float: left;
    width: 45%;
   
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
/* background*/
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}
.bg-light{
    background: var(--light-color);
    color: #333;
}
.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.bg-black {
    background: #000;
    color: #fff;
}
/* testomonials */
.testimonials {
    padding: 40px 0;
}
.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}
.testimonials-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
}
/* card */
